---
import FullScreenLayout from "../layouts/FullScreenLayout.astro";
import MainHead from "../components/MainHead.astro";
import { Picture } from "@astrojs/image/components";
import NotFoundImage from "../assets/shared/404.jpg";
import GoBackLink from "../components/GoBackLink.astro";

const title = "Not Found";
const description = "The resource that you've been looking for is broken or not available at this moment.";
---

<FullScreenLayout>
	<MainHead
		title={title}
		description={description}
		slot="head"
	/>
	<main>
		<Picture
			src={NotFoundImage}
			widths={[200, 400, 800]}
			aspectRatio="4:3"
			sizes="(max-width: 400px) 85vw, 400px"
			alt="Not Found"
			format="avif"
		/>
		<h1>{title}</h1>
		<p>{description}</p>
		<GoBackLink size="md" />
	</main>
</FullScreenLayout>

<style>
	main {
		padding: var(--regular-spacing);
		display: flex;
		flex-direction: column;
		gap: var(--regular-spacing);
		align-items: center;
	}

	main > h1 {
		font-size: var(--large-font-size);
	}

	main > p {
		font-size: var(--medium-font-size);
	}
</style>
