---
import { CollectionEntry, getCollection } from "astro:content";
import IconWrapper from "../../components/IconWrapper.astro";
import Layout from "../../layouts/Layout.astro";
import MainHead from "../../components/MainHead.astro";
import SkillPill from "../../components/SkillPill.astro";

export async function getStaticPaths() {
	const projects = await getCollection("projects");

	return projects.map((project) => ({
		params: { slug: project.slug },
		props: project
	}));
}

// eslint-disable-next-line
type Props = CollectionEntry<"projects">;

const project = Astro.props;
---

<Layout>
	<MainHead
		title={project.data.title}
		description={project.data.description}
		slot="head"
	/>
	<main class="project">
		<h2 class="project__title-container">
			<span class="project__title">{project.data.title}</span>
			<a
				href="/"
				class="go-back"
			>
				Go back
			</a>
		</h2>
		<section class="project__container">
			<section class="project__img-container">
				<img
					src={project.data.banner}
					alt={project.data.title}
					class="project__img"
				/>
			</section>
			<section class="project__content-container">
				<section class="project__content-section">
					<span class="project__caption">Description:</span>
					<p class="project__content">{project.data.description}</p>
				</section>
				<section class="project__content-section">
					<span class="project__caption">Skills:</span>
					<ul class="project__skills">
						{
							project.data.skills.map((skill) => <SkillPill skill={skill} />)
						}
					</ul>
				</section>
				<section class="project__content-section">
					<span class="project__caption">Links:</span>
					<section class="project__links">
						{
							project.data.link &&
							<a class="project__link" href={project.data.link} target="_blank">
								<IconWrapper
									icon="fa-solid fa-link"
									color="white"
									size="md"
								/>
							</a>
						}
						{
							project.data.video &&
							<a class="project__link" href={project.data.video} target="_blank">
								<IconWrapper
									icon="fa-solid fa-video"
									color="white"
									size="md"
								/>
							</a>
						}
						<a class="project__link" href={project.data.repository} target="_blank">
							<IconWrapper
								icon="fa-solid fa-code"
								color="white"
								size="md"
							/>
						</a>
					</section>
				</section>
			</section>
		</section>
	</main>
</Layout>

<style>
	.project {
		padding-top: var(--large-spacing);
		color: var(--just-white);
		display: flex;
		flex-direction: column;
		gap: var(--regular-spacing);
	}

	.project__title-container {
		font-size: var(--regular-font-size);
		display: flex;
		flex-direction: column-reverse;
		gap: var(--regular-spacing);
		align-items: flex-start;
	}

	.project__title {
		font-size: var(--large-font-size);
		word-break: keep-all;
	}

	.go-back {
		min-width: 75px;
		border-radius: 4px;
		padding: 0.45rem;
		background-color: #0d6efd;
		text-decoration: none;
		color: var(--just-white);
		font-size: var(--small-font-size);
		font-weight: bold;
		transition: background 0.3s ease-out;
	}

	.project__container {
		display: grid;
		gap: var(--regular-spacing);
		grid-template-columns: repeat(1, 1fr);
		grid-auto-flow: dense;
	}

	.project__img-container {
		display: flex;
		align-items: flex-start;
	}

	.project__img {
		width: 100%;
		aspect-ratio: 25 / 16;
	}

	.project__content-container {
		display: flex;
		flex-direction: column;
		gap: var(--regular-spacing);
	}

	.project__content-section {
		display: flex;
		flex-direction: column;
		gap: 0.85rem;
	}

	.project__caption {
		font-size: var(--regular-font-size);
		font-weight: bold;
	}

	.project__content {
		font-size: var(--regular-font-size);
	}

	.project__skills {
		display: flex;
		flex-wrap: wrap;
	}

	.project__links {
		display: flex;
		gap: var(--regular-spacing);
	}

	.project__link {
		font-size: var(--regular-font-size);
	}

	@media screen and (min-width: 680px) {
		.project__title-container {
			flex-direction: row;
			align-items: center;
		}

		.go-back:hover {
			background-color: #0b5ed7;
		}

		.project__container {
			grid-template-columns: 3fr 4fr;
		}
	}
</style>
